
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=/opt/docear/docear.sh
Name=Zotero
Comment=Launches Zotero
Icon=/opt/docear/docear.png
Name[en_US]=docear
Comment[en_US]=Launches Docear
